<app-toaster aria-live="polite" aria-atomic="true"></app-toaster>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'.'">Home</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <!-- <li ngbDropdown class="nav-item" [class.active]="router.url === '/post-list'">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Posts</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="post-btn">
                        <button ngbDropdownItem [routerLink]="'/post-list'"
                            (click)="isMenuCollapsed = true">View</button>
                        <button ngbDropdownItem (click)="isMenuCollapsed = true">Add +</button>
                    </div>
                </li> -->
                <li class="nav-item" [class.active]="router.url === '/post-list'">
                    <a class="nav-link" [routerLink]="'/post-list'" (click)="isMenuCollapsed = true">Posts</a>
                </li>
                <!-- <li class="nav-item" [class.active]="router.url === '/user-list'">
                    <a class="nav-link" [routerLink]="'/user-list'" (click)="isMenuCollapsed = true">Users</a>
                </li> -->
                <li class="nav-item" [class.active]="router.url === '/user-profile'">
                    <a class="nav-link" [routerLink]="'/user-profile'" (click)="isMenuCollapsed = true">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/user-list'" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>