<!-- trackBy: trackByFn -->
<div *ngFor="let post of postList?.data let i = index;" class="post-list">
    <div class="custom-container">
        <div class="title-con">
            <div class="flex-row">
                <img class="user-img" [src]="post.owner?.picture" alt="" placement="top"
                    ngbTooltip="{{((post.owner?.title + ' ') || '') + post.owner?.firstName}}"
                    (click)="openUserDetails(post.owner?.id)">
                <div class="text-right date">
                    {{post.publishDate | date:'medium'}}
                    <i class="fa-solid fa-trash-can" (click)="deletePost(i)"></i>
                </div>
            </div>
            <div class="title">
                {{post.text}}
            </div>
        </div>
        <img [src]="post.image" alt="" class="post-image">
        <div class="footer-con">
            <div class="flex-row">
                <i class="fa-solid fa-heart"></i>
                <div>
                    {{post.likes}}
                </div>
            </div>
            <div class="flex-row">
                <div *ngFor="let tag of post.tags" class="tag">
                    #{{tag}}
                </div>
            </div>
        </div>
        <app-comments [post]="post"></app-comments>
    </div>
</div>