.tag {
  color: #fff;
  background-color: #458eff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 10px;
  margin-right: 5px;
}

.fa-trash-can {
  margin-left: 10px;
  color: rgb(153, 153, 153);
  font-size: 12px;
  cursor: pointer;
}
