<div class="custom-container">
    <form #userForm="ngForm" (ngSubmit)="signup(userForm)">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" required ngModel name="firstName">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" required ngModel name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required ngModel name="email">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" ngModel name="phone">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" ngModel name="gender">
                <option>male</option>
                <option>female</option>
                <option>other</option>
            </select>
        </div>
        <button class="btn btn-primary">Signup</button>

    </form>
</div>